/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 5px 16px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 10;
}

nav img {
  width: 35px;
}

/* index.html */

/* sign-up.html */

/* form.html */

#form-parent-container {
  display: flex;
  justify-content: center;
}

#form-container {
  width: 100%;
  max-width: 1200px;
  min-width: 250px;
  margin: 20px 16px;
}

#back-button-parent {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
  text-decoration: none;
  color: #03045e;
}

#back-button-parent img {
  width: 14px;
}

#form-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 20px;
  font-weight: 500;
}

.form-group input {
  border: 2px solid #03045e;
  padding: 8px;
  border-radius: 4px;
}

.form-group select {
  border: 2px solid #03045e;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
}

.double-form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.double-form-group .form-group {
  flex: 1;
  min-width: 0;
}

#form-submit-button {
  background-color: #03045e;
  color: white;
  padding: 6px;
  border: 2px solid #03045e;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#form-submit-button:hover {
  background-color: white;
  color: #03045e;
}

@media (min-width: 576px) {
  .double-form-group {
    flex-direction: row;
    gap: 10px;
  }
}
